.header {

  width: 100%;
  height: 80px;
  background-color: #3d3c3c;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: start;
  align-items: center;
  z-index: 2;
}

.headerLogo {

  width: 80px;
  max-width: 150px;
  height: auto;
  margin-left: 20px;
}

.banner {

  display: flex;
  justify-content: flex-start;
  align-items: start;
  position: relative;
  overflow: hidden;
  margin-top: 120px;
  margin-bottom: 20px;
  gap: 10px;
  flex-direction: column;
  z-index: 1;
  width: 100%;
  height: 700px;
}

.bannerCapa {

  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.bannerTitulo {

  font-size: 100px;
  color: white;
  text-shadow: 9px 9px 9px rgba(0, 0, 0, 0.7);
  margin: 0;
  padding: 30px;
}

.bannerTexto {

  font-size: 20px;
  color: white;
  text-shadow: 2px 5px 8px rgba(0, 0, 0, 0.7);
  text-align: justify;
  margin: 0;
  line-height: 1.6;
  width: 40%;
  margin-left: 80px;
}

.banner__botao {

  color: black;
  background-color: #fae058;
  border-radius: 50px;
  font-weight: 600;
  font-size: 20px;
  margin-top: 60px;
  margin-left: 5%;
  display: flex;
  padding: 10px 30px;
  transition: transform 0.8s ease;
}

.banner__botao:hover {

  transform: scale(1.1);
  border-radius: 10px;
  transition: 0.5s;
}


.abas {

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  padding: 20px;
  margin-top: 20px;
  width: 100%;
}

.abas__img-grid {

  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  max-width: 300px;
}

.abas__img {

  width: 100%;
  height: 500px;
  border-radius: 8px;
  object-fit: cover;
  box-shadow: 9px 9px 11px #000000;
  transition: all 0.4s ease;
}

.abas__img:hover {

  transform: scale(1.1);
  border-radius: 10px;
  transition: 0.5s;
}

.abas__img-grid h2 {

  font-size: 20px;
  color: white;
  font-weight: 600;
  display: flex;
  margin-top: 10px;
  text-align: center;
}

.grid__link {

  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.grid__link h2 {
  
  margin-top: 10px;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

.container__LDT{

  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  
}

.LDTTitulo{

  font-size: 50px;
  color: white;
  padding-top: 50px;
  text-shadow: 1px 1px 5px #fae058;
}

.linha{

  width: 1200px;
  height: 3px;
  background-color: #fae058;
  align-self: center;
}

.LDTSecao{

  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  padding: 20px;
  margin-top: 30px;
  gap: 70px;
}

.LDTTexto__ano{

  color: #fae058;
  font-size: 90px;
  font-weight: 700;
  margin: 0;
  text-shadow: 1px 1px 5px #fae058;
}

.LDTTexto__texto{

  color: white;
  font-size: 18px;
  font-weight: 400;
  text-align: justify;
  margin: 0;
  max-width: 500px;
  
}

.LDTTexto__img{

  width: 300px;
  height: auto;
  border-radius: 8px;
}